TELEGRAM_BOT_TOKEN=8061067527:AAGc8Cz6yrQW5j5CD8HAxWleXO_vKj8Rw6Y
# Несколько админов через запятую (без пробелов или с пробелами — не важно)
ADMIN_IDS=8516740130,987654321

# PostgreSQL на Render (Internal Database URL)
DATABASE_URL=postgresql://kometa_bot_user:yfbAnwbZ4LhubMJ9vitsO2kCDV8LqTtl@dpg-d6ddm8fpm1nc739o57bg-a/kometa_bot
PAYMENT_URL=https://your-payment-provider/checkout
REQUIRED_CHANNEL=@kometavpn

# 3x-ui панель
XUI_BASE_URL=https://193.109.69.12:2053/CtrJdwqTSwytSmlar1/
XUI_USERNAME=velocity
XUI_PASSWORD=UAD6ERUq
XUI_INBOUND_ID=1

# VLESS Reality (для генерации ссылки; взять из панели)
VLESS_ADDRESS=193.109.69.12
VLESS_PORT=443
VLESS_SNI=www.apple.com
VLESS_PBK=1CIbi5YWlOdS-cE-mo0n-mPZq5_evzh_-hA3ngLiBEY
VLESS_SID=3db9a12c,f0632a90aed4,c4e4bf,6ccc8cd84c012579,b288,fb170a55fcd734,5630502206,e7
VLESS_FLOW=xtls-rprx-vision
VLESS_SECURITY=reality
